@use "../util/index" as *;

:root {
  --font-playfair: "Playfair Display", serif;
  --font-figtree: "Figtree", sans-serif;
  --font-quicksand: "Quicksand", serif;
  --font-lobster: "Lobster", sans-serif;
  --font-lora: "Lora", serif;
}
