@use "../util/index" as *;

h1 {
  font-family: var(--font-lobster);
  font-weight: 400;
}

h2,
h4 {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

h3 {
  font-family: var(--font-playfair);
}

p,
li,
button {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

p,
li {
  font-size: rem(16);
  font-weight: 300;
}
