@use "../util/index" as *;

h1 {
  font-family: var(--font-lobster);
  font-weight: 400;
}

h2 {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

h3 {
  font-family: var(--font-playfair);
}

p,
button {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

p {
  font-size: rem(16);
  font-weight: 300;
}
