@use "../util/index" as *;

h1,
h2 {
  font-family: var(--font-playfair);
}

h1 {
  font-size: rem(38);
  font-weight: 700;
}

h2 {
  font-size: rem(24);
  font-weight: 400;
}

p,
button {
  font-family: var(--font-figtree);
}

p {
  font-size: rem(16);
  font-weight: 300;
}
