@import "../settings.scss";
@import "./fonts";

// ----- CSS RESET ----- //
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    text-size-adjust: 100%;
}

body {
    background: $darkGrey;
    font-family: 'Quicksand', sans-serif;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

h1, h2 {
    color: $lightBlue;
    font-weight: normal;
}

p {
    color: $accentWhite;
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}