@import "../../styles/settings.scss";

.projectContainer {
    border: 1px solid $darkGrey;
    background: $darkGrey;
    height: 640px;
    padding: 0px 40px;
    .row {
        @include flex(row, space-between);
        margin: 30px 0px;
    }
    .row:first-child {
        .column {
            margin: 30px;
            h3, p, a {
                text-align: center;
            }
            h3 {
                font-size: 2rem;
                margin: 0 auto 30px;
            }
            p {
                font-size: 1rem;
                margin: 30px auto 20px;
            }
            a {
                border-bottom: 1px solid rgba($lightBlue, 0);
                color: $lightBlue;
                display: inline-block;
                font-size: 1rem;
                margin: 5px auto;
                transition: border-bottom 200ms ease-in-out;
                &:hover {
                    border-bottom: 1px solid rgba($lightBlue, 1);
                }
            }
        }
        img {
            border: 3px solid rgb(0,0,0);
            border-radius: 5px;
            width: 500px;
        }
    }
    .row:nth-child(2) {
        .column {
            margin: 0 0 0 10px;
            h3 {
                color: $lightBlue;
                display: inline-block;
                font-size: 1.4rem;
                text-align: center;
            }
            ul {
                list-style: inside;
                margin: 0 0 0 10px;
                text-align: left;
                li {
                    color: $accentWhite;
                    margin: 10px auto;
                }
            }
        }
        .imgContainer {
            span {
                img {
                    border: 3px solid rgb(0,0,0);
                    border-radius: 5px;
                    margin: 0px 0px 0px 40px;
                }
            }
            span:first-child {
                img {
                    width: 320px;
                }
            }
            span:nth-child(2) {
                img {
                    margin-top: -80px;
                    width: 220px;
                }
            }
        }
        
    }
}