@import "../../styles/settings.scss";

.projectContainer {
    background: $darkGrey;
    height: 600px;
    .row {
        @include flex(row, space-between);
        padding: 20px;
    }
    .row:first-child {
        padding-top: 30px;
        .column {
            margin: 25px;
            h3, p, a {
                text-align: center;
            }
            h3 {
                font-size: 2rem;
                margin: 0 auto 30px;
            }
            p {
                font-size: 1rem;
                margin: 20px auto;
            }
            a {
                border-bottom: 1px solid rgba($lightBlue, 0);
                color: $lightBlue;
                display: inline-block;
                font-size: 1rem;
                margin: 5px auto;
                transition: border-bottom 200ms ease-in-out;
                &:hover {
                    border-bottom: 1px solid rgba($lightBlue, 1);
                }
            }
        }
        img {
            border: 3px solid rgb(0,0,0);
            border-radius: 5px;
            width: 500px;
        }
    }
    .row:nth-child(2) {
        padding-top: 0px;
        .column {
            margin: 0 0 0 20px;
            h3 {
                color: $lightBlue;
                display: inline-block;
                font-size: 1.4rem;
                text-align: center;
            }
            ul {
                list-style: inside;
                margin: 0 0 0 10px;
                text-align: left;
                width: 200px;
                li {
                    color: $accentWhite;
                    margin: 10px 0;
                    
                }
            }
        }
        .imgContainer {
            @include flex(row, flex-end);
            align-items: flex-end;
            span {
                img {
                    border: 3px solid rgb(0,0,0);
                    border-radius: 5px;
                    margin: 0px 0px 0px 40px;
                }
            }
            span:first-child {
                img {
                    width: 320px;
                }
            }
            span:nth-child(2) {
                img {
                    margin-top: -80px;
                    width: 220px;
                }
            }
        }
        
    }
}