@use "../../styles/util/" as *;

button {
  cursor: pointer;
  padding: rem(4) rem(8);
}

.left,
.right,
.bottom {
  background-color: transparent;
  border: none;
  border-radius: 3%;
  font-size: rem(14);
  font-style: italic;
  margin: rem(10);
  padding: rem(4);
  height: rem(50);
  width: rem(100);
  svg {
    height: rem(18);
    width: rem(18);
  }
}

.closeRight,
.closeLeft,
.closeBottom {
  background-color: transparent;
  border: none;
  margin: rem(12);
  padding: 0;
  position: absolute;
  svg {
    color: var(--light-text);
    height: rem(30);
    width: rem(30);
  }
}

.closeRight {
  left: 9%;
  top: 4%;
}

.closeLeft,
.closeBottom {
  right: 9%;
  top: 4%;
}

.left {
  @include grid-child(1, 2, center, end);
  @include grid-parent(20% auto, 1fr, rem(10), center, center);
  svg {
    @include grid-child(0, 0, center, end);
    order: -1;
  }
}
.bottom {
  @include grid-child(2, 3, start, center);
  @include grid-parent(1fr, 50% auto, rem(0), center, center);
  svg {
    @include grid-child(0, 0, center, center);
  }
}
.right {
  @include grid-child(3, 2, center, start);
  @include grid-parent(auto 20%, 1fr, rem(10), center, center);
  svg {
    @include grid-child(0, 0, center, end);
  }
}
