@use "../../styles/util/" as *;

button {
  cursor: pointer;
  padding: rem(4) rem(8);
}

.left,
.right,
.bottom {
  // background-color: transparent;
  border: none;
  border-radius: 3%;
  font-size: rem(14);
  margin: rem(10);
  padding: rem(4);
  height: rem(50);
  width: rem(100);
  svg {
    height: rem(18);
    width: rem(18);
  }
}

.closeRight,
.closeLeft,
.closeBottom {
  background-color: transparent;
  border: none;
  margin: rem(12);
  padding: 0;
  position: absolute;
  svg {
    color: var(--light-text);
    height: rem(30);
    width: rem(30);
  }
}

.closeRight {
  left: 0;
  top: 0;
}

.closeLeft,
.closeBottom {
  right: 0;
  top: 0;
}

.left {
  align-self: center;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: end;
  display: grid;
  grid-template-columns: 20% auto;
  column-gap: rem(10);
  align-items: center;
  justify-content: center;
  svg {
    order: -1;
    align-self: center;
    justify-self: end;
  }
}
.bottom {
  align-self: start;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50%;
  // row-gap: rem(1);
  align-items: center;
  justify-content: center;
  svg {
    align-self: center;
    justify-self: center;
  }
}
.right {
  align-self: center;
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: start;
  display: grid;
  grid-template-columns: auto 20%;
  column-gap: rem(10);
  align-items: center;
  justify-content: center;
  svg {
    align-self: center;
    justify-self: end;
  }
}
