@import "../../styles/config.scss";
@import "../../styles/settings.scss";

.socialLinks {
    @include flex(row, space-evenly);
    a {
        height: 25px;
        width: 25px;
        svg {
            height: 25px;
            width: 25px;
            &:hover {
                stroke: $accentWhite;
            }
        }            
    }
}

@media (min-width: 769px) and (min-height: 480px) {
    .socialLinks {
        @include flex(column, space-evenly);
        a {
            height: 28px;
            margin: 10px;
            width: 28px;
            svg {
                height: 28px;
                width: 28px;
            }            
        }
    }
}