@use "../../styles/util/" as *;

.portfolio {
  background-color: $green;
  padding: rem(20);
  @include breakpoint(medium) {
    padding: rem(30);
  }
  @include breakpoint(xlarge) {
    padding: rem(60) 0 0;
  }
  h3 {
    color: $light-text;
    margin: 0 auto;
    max-width: rem(1150);
  }
}
