@use "../../styles/util/" as *;

.portfolio {
  border: 1.5px solid var(--darker-grey);
  height: 100%;
  .header {
    background-color: var(--lighter-grey);
    border-bottom: 1px solid var(--darker-grey);
    margin: 0;
    padding: rem(12) 0;
    @include breakpoint(medium) {
      padding: rem(26) 0;
    }
  }
}
