@use "../../styles/util/" as *;

button {
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.downloadResume {
  @include grid-parent(1fr, 22px auto);
  width: rem(65);
  @include breakpoint(medium) {
    @include grid-parent(1fr, 26px auto);
    width: rem(85);
  }
  &:hover {
    svg {
      transition: transform 500ms ease-in-out;
      transform: rotate(380deg);
    }
    p {
      transition: transform 400ms ease-in-out;
      transform: rotate(5deg);
    }
  }
  svg {
    @include grid-child(1, 1, end, end);
    height: rem(22);
    width: rem(28);
    @include breakpoint(medium) {
      height: rem(26);
      width: rem(32);
    }
  }
  p {
    display: block;
    font-size: rem(14);
    margin: 0;
    text-align: right;
    @include breakpoint(medium) {
      font-size: rem(16);
    }
  }
}

.light {
  color: var(--light-text);
}

.green {
  color: var(--green);
}
