@use "../../styles/util/" as *;

button {
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.downloadResume,
.liveSiteBtn,
.githubRepoBtn {
  @include grid-parent(auto, 22px auto, rem(4));
  cursor: pointer;
  @include breakpoint(medium) {
    @include grid-parent(auto, 26px auto, rem(4), center, center);
  }
  svg {
    height: rem(22);
    width: rem(28);
    @include breakpoint(medium) {
      height: rem(26);
      width: rem(32);
    }
  }
  p {
    display: block;
    margin: 0;
  }
}

.downloadResume,
.liveSiteBtn {
  svg {
    @include grid-child(1, 1, end, end);
  }
  p {
    text-align: right;
  }
}

.githubRepoBtn {
  svg {
    @include grid-child(1, 1, center, center);
  }
  p {
    text-align: center;
  }
}

.downloadResume {
  width: rem(65);
  z-index: 20;
  @include breakpoint(medium) {
    width: rem(85);
  }
  &:hover {
    svg {
      transition: transform 500ms ease-in-out;
      transform: rotate(380deg);
    }
    p {
      transition: transform 400ms ease-in-out;
      transform: rotate(5deg);
    }
  }
  p {
    font-size: rem(14);
    @include breakpoint(medium) {
      font-size: rem(16);
    }
  }
}

.liveSiteBtn,
.githubRepoBtn {
  p {
    font-size: rem(12);
    @include breakpoint(medium) {
      font-size: rem(13);
    }
  }
}

.liveSiteBtn {
  @include breakpoint(medium) {
    &:hover {
      svg {
        transition: transform 500ms ease-in-out;
        transform: rotate(330deg);
      }
      p {
        transition: transform 400ms ease-in-out;
        transform: rotate(-10deg) translateY(5px);
      }
    }
  }
}

.light {
  color: $light-text;
}

.green {
  color: $green;
}

.scrollToTopBtn {
  background-color: $dark-text;
  border-radius: 50%;
  color: $light-text;
  padding: 4px 6px;
  position: fixed;
  bottom: rem(10);
  right: rem(10);
  z-index: 1000;
  &:hover {
    box-shadow: -2px 5px 10px $box-shadow;
    background-color: $darker-grey;
    transition: transform 200ms ease-in-out;
    transform: translateY(-2px);
  }
  svg {
    height: rem(20);
    width: rem(20);
    @include breakpoint(large) {
      bottom: rem(20);
      right: rem(20);
      height: rem(24);
      width: rem(24);
    }
  }
}
