@use "../../styles/util/" as *;

button {
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  p {
    line-height: normal;
  }
}

.downloadResume,
.liveSiteBtn {
  @include grid-parent(1fr, 22px auto);
  @include breakpoint(medium) {
    @include grid-parent(1fr, 26px auto);
  }
  svg {
    @include grid-child(1, 1, end, end);
    height: rem(22);
    width: rem(28);
    @include breakpoint(medium) {
      height: rem(26);
      width: rem(32);
    }
  }
  p {
    display: block;
    margin: 0;
    text-align: right;
  }
}

.downloadResume {
  width: rem(65);
  @include breakpoint(medium) {
    width: rem(85);
  }
  &:hover {
    svg {
      transition: transform 500ms ease-in-out;
      transform: rotate(380deg);
    }
    p {
      transition: transform 400ms ease-in-out;
      transform: rotate(5deg);
    }
  }
  p {
    font-size: rem(14);
    @include breakpoint(medium) {
      font-size: rem(16);
    }
  }
}

.liveSiteBtn {
  @include grid-parent(1fr, 22px auto, rem(4));
  @include breakpoint(medium) {
    @include grid-parent(1fr, 26px auto, rem(4));
  }
  &:hover {
    svg {
      transition: transform 500ms ease-in-out;
      transform: rotate(330deg);
    }
    p {
      transition: transform 400ms ease-in-out;
      transform: rotate(-20deg) translateY(5px);
    }
  }
  p {
    font-size: rem(11);
    @include breakpoint(medium) {
      font-size: rem(13);
    }
  }
}

.light {
  color: var(--light-text);
}

.green {
  color: var(--green);
}
