@use "../../styles/util/" as *;

.topNav {
  @include breakpoint-down(medium) {
    background-color: var(--medium-grey);
    padding: min(20vh, 120px) 8%;
    position: absolute;
    // inset: 0 0 0 max(-50%, -250px);
    top: 0;
    right: -250px;
    height: 100vh;
    width: min(50%, 250px);
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
    z-index: 7000;
    &[data-visible="true"] {
      transform: translateX(-100%);
    }
  }
}
