@use "../../styles/util/" as *;

.home-page {
  background-color: var(--light-background);
  .color-tile {
    height: rem(100);
    margin: rem(20);
    width: 60%;
  }
  .peach {
    background-color: var(--peach);
  }
  .green {
    background-color: var(--green);
  }
  .brown {
    background-color: var(--brown);
  }
}
