@import "../../styles/settings.scss";

section {
    min-height: 100vh;
}

.intro {
    padding-top: $headerHeight;
}

@media (min-width: 769px) and (min-height: 481px) {
    section {
        width: 80%;
    }
}