@import "../../styles/settings.scss";

section {
    max-width: 1000px;
    min-height: 100vh;
    width: 90%;
}

aside {
    background: $mediumGrey;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 0px rgba($shadowGrey, 0);
    display: none;
    left: 0%;
    padding: 10px 15px;
    position: fixed;
    top: 30%;
    transition: padding 200ms ease-in-out, box-shadow 200ms ease-in-out;
    z-index: 1;
    &:hover {
        box-shadow: 5px 5px 5px rgba($shadowGrey, 0.8);
        padding: 20px;
    }
}

.intro {
    @include flex(column, center);
    padding-top: $headerHeight;
    h1, h2, h3 {
        margin: 10px auto;
        text-align: center;
    }
    h1 {
        margin-top: -50px;
        font-size: 2.4rem;
    }
    h2 {
        color: $accentWhite;
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    svg {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        color: $accentWhite;
        display: block;
        font-size: 2.4rem;
        margin: 20px auto;
        transform-origin: bottom;
    }
    .bounce {
        animation-name: bounce;
        animation-timing-function: ease-in-out;
    }
    @keyframes bounce {
        0% { transform: translateY(0); }
        50% { transform: translateY(20px); }
        100% { transform: translateY(0); }
    }
}

.about {
    h2 {
        font-size: 2.2rem;
        margin: 0 0 50px 0;
    }
    h3 {
        color: $lightBlue;
        font-size: 1.4rem;
        margin: 50px 0 0;
    }
    img {
        border-radius: 5px;
        float: left;
        margin: 0 20px 20px 0;
        width: 280px;
    }
    p {
        font-size: 1.1rem;
        line-height: 24px;
        margin: 0 0 20px 0;
    }
    .toolsContainer {
        @include flex(row, space-between);
        flex-wrap: wrap;
        a {
            margin: 30px 20px 0 0;
        }
    }
}

.portfolio {
    h2 {
        font-size: 2.2rem;
        margin-bottom: 50px;
    }
}

@media (min-width: 769px) and (min-height: 481px) {
    section {
        width: 80%;
    }

    aside {
        display: inline-block;
    }
}