@use "../../styles/util/" as *;

.about {
  background-color: var(--light-background);
  padding-bottom: rem(100);
  @include grid-parent(20px 10vw 50vw auto, 30px auto 30px auto 80px);
  @include breakpoint(medium) {
    @include grid-parent(30px auto 40px auto, 30px 180px auto auto 80px);
  }
  @include breakpoint(large) {
    @include grid-parent(40px auto 50px auto, 30px auto auto auto 80px);
  }
  @include breakpoint(xlarge) {
    @include grid-parent(
      40px auto max(50px, 8%) max(750px, 50%),
      30px auto auto auto 100px
    );
  }
  .profilePic {
    // aspect-ratio: auto;
    @include grid-child(2, 3, start);
    grid-column-end: 4;
    grid-row-end: 5;
    height: rem(293);
    width: rem(225);
    z-index: 100;
    @include breakpoint(medium) {
      justify-self: end;
      height: rem(358);
      width: rem(275);
    }
    @include breakpoint(large) {
      @include grid-child(2, 2, start);
      grid-column-end: 3;
      grid-row-end: 4;
      justify-self: center;
      height: rem(456);
      width: rem(350);
    }
    @include breakpoint(xlarge) {
      justify-self: end;
      height: rem(553);
      width: rem(425);
    }
  }
  .content {
    @include grid-parent(10% auto 10%, 30px 40px 18px auto 30px);
    @include grid-child(3, 2);
    grid-column-end: 5;
    grid-row-end: 4;
    background-color: var(--peach);
    border-radius: 5px 0 0 5px;
    color: var(--light-text);
    text-align: justify;
    @include breakpoint(medium) {
      @include grid-parent(80px 1fr 70px, 40px 50px 20px auto 60px);
    }
    @include breakpoint(large) {
      @include grid-parent(80px auto 80px, 40px 60px 20px auto 60px);
      @include grid-child(4, 2, stretch, end);
      grid-column-end: 5;
      grid-row-end: 3;
    }
    @include breakpoint(xlarge) {
      @include grid-parent(
        max(120px, 18%) auto max(120px, 18%),
        60px 70px 20px auto 80px
      );
    }
    h3 {
      @include grid-child(2, 2);
      font-size: rem(36);
      margin: 0;
      @include breakpoint(medium) {
        font-size: rem(48);
      }
      @include breakpoint(large) {
        font-size: rem(56);
      }
    }
    p {
      align-self: start;
      grid-column-start: 2;
      grid-row-start: 4;
      font-size: rem(14);
      margin: 0;
      padding: 0 0 rem(20);
      @include breakpoint(medium) {
        font-size: rem(15);
        padding: 0;
      }
      @include breakpoint(large) {
        font-size: rem(16);
      }
    }
  }
  .pothosPic {
    display: grid;
    @include grid-child(3, 5, end, end);
    grid-column-end: 5;
    grid-row-end: 6;
    width: 80vw;
    z-index: 200;
    @include breakpoint(medium) {
      @include grid-child(3, 4, start, end);
      margin-top: rem(-60);
      width: 100%;
    }
    @include breakpoint(large) {
      @include grid-child(4, 3, start, end);
      margin-top: rem(-80);
    }
    @include breakpoint(xlarge) {
      margin-top: rem(-120);
    }
  }
}
