@use "../../styles/util/" as *;

.contact {
  @include grid-parent(
    20px calc(27% - 20px) 46% calc(27% - 20px) 20px,
    40px 100px auto auto 70px
  );
  background-color: var(--light-background);
  padding: rem(30) 0 rem(10);
  @include breakpoint(medium) {
    @include grid-parent(
      30px calc(27% - 30px) 46% auto 30px,
      60px 100px auto auto 70px
    );
  }
  @include breakpoint(large) {
    // padding: rem(30);
    @include grid-parent(
      calc((100% - 825px) / 2) calc(35% - ((100% - 825px) / 2)) 30% auto
        calc((100% - 825px) / 2),
      70px 110px auto auto 70px
    );
  }
  @include breakpoint(xlarge) {
    @include grid-parent(10vw 20% 40% auto 10vw, 80px 120px auto auto 70px);
    padding: rem(60) 0 rem(20);
  }
  h3 {
    @include grid-child(3, 1, stretch, center);
    display: inline;
    margin: 0;
    @include breakpoint(medium) {
      @include grid-child(4, 1, stretch, end);
    }
  }
  .contactLinks {
    @include grid-child(3, 2, center, center);
    @include breakpoint(medium) {
      @include grid-child(4, 2, center, end);
    }
    .link {
      color: var(--dark-text);
      display: block;
      margin: rem(8) 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      @include breakpoint(medium) {
        font-size: rem(18);
        margin: rem(12) 0;
      }
      @include breakpoint(large) {
        font-size: rem(19);
        margin: rem(14) 0;
      }
    }
  }
  .siteLinks {
    @include grid-parent(1fr, repeat(3, 1fr), rem(14));
    @include grid-child(2, 1, start, center);
    margin-top: rem(10);
    z-index: 50;
    @include breakpoint(medium) {
      @include grid-parent(repeat(3, 1fr), 1fr, rem(30));
      @include grid-child(3, 2, center, center);
    }
    @include breakpoint(large) {
      gap: rem(40);
    }
    a {
      color: var(--dark-text);
      svg {
        height: rem(30);
        width: rem(30);
        &:hover {
          transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
          transform: translateY(-8px);
        }
        @include breakpoint(medium) {
          height: rem(40);
          width: rem(40);
        }
        @include breakpoint(large) {
          height: rem(44);
          width: rem(44);
        }
        @include breakpoint(xlarge) {
          height: rem(48);
          width: rem(48);
        }
      }
    }
  }
  button {
    @include grid-child(4, 3, start, start);
    @include breakpoint(medium) {
      @include grid-child(4, 3, start, end);
    }
  }
  .pothosImg {
    @include grid-child(1, 3);
    grid-column-end: 6;
    transform: scaleX(-1);
    width: 95%;
    @include breakpoint(medium) {
      @include grid-child(1, 2, start, start);
      grid-row-end: 5;
      max-width: rem(800);
      width: 80%;
    }
  }
  .copyright {
    @include grid-child(2, 5, center, center);
    grid-column-end: 6;
    font-size: rem(11);
    @include breakpoint(medium) {
      font-size: rem(13);
    }
    @include breakpoint(large) {
      font-size: rem(14);
    }
  }
}
