@use "../../styles/util/" as *;

.header {
  @include grid-parent(auto 40% auto, 30vh 15vh 55vh);
  background-color: #fff8f0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
  width: 100vw;
  .headerContainer {
    @include grid-parent(1fr, repeat(2, 1fr));
    @include grid-child(2, 2);
    h1 {
      @include grid-child(0, 1, end);
      margin: rem(3) auto;
    }
    h2 {
      @include grid-child(1, 2, start);
      justify-self: center;
      margin: rem(3) auto;
    }
  }
}

.slideLeft {
  transform: translateX(100%);
}

.slideRight {
  transform: translateX(-100%);
}

.slideUp {
  transform: translateY(-100%);
}
