@use "../../styles/util/" as *;

.header {
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-rows: 30vh 15vh 55vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
  width: 100vw;
  .headerContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-self: stretch;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: stretch;
    h1 {
      align-self: end;
      grid-column-start: 0;
      grid-row-start: 1;
      justify-self: center;
      margin: rem(5) auto;
    }
    h2 {
      align-self: start;
      grid-column-start: 1;
      grid-row-start: 2;
      justify-self: center;
      margin: rem(5) auto;
    }
  }
}

.slideLeft {
  transform: translateX(100%);
}

.slideRight {
  transform: translateX(-100%);
}

.slideUp {
  transform: translateY(-100%);
}
