@import "../../styles/config.scss";
@import "../../styles/settings.scss";

footer {
    background: $darkGrey;
    border-top: 1px solid $mediumGrey;
    .footerLinks {
        @include flex(row, space-between);
        margin: 30px auto;
        max-width: 450px;
        width: 80%;
        li a {
            color: $accentWhite;
            font-size: 0.8em;
            text-align: center;
        }
    }
    div {
        margin: 30px auto;
        max-width: 320px;
        width: 90%;
    }
    p {
        font-size: 0.8em;
        margin: 30px auto;
        text-align: center;
    }
}

@media (min-width: 769px) and (min-height: 480px) {
    footer {
        .footerLinks {
            width: 450px;
        }
        div {
            display: none;
        }
    }
}