@use "../../styles/util/" as *;

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  &[data-visible="true"] {
    background-color: $light-transparent;
    display: block;
    height: 100vh;
    transition: background-color 500ms ease-in-out;
    width: 100vw;
    z-index: 1000;
  }
}
