@use "../../styles/util/" as *;

.leftSlide,
.bottomSlide,
.rightSlide {
  background-color: var(--darker-grey);
  border-radius: 10%;
  height: 100vh;
  position: absolute;
  transition: transform 500ms ease-in-out;
  width: 100vw;
  h3 {
    color: var(--light-text);
    font-size: rem(22);
    margin: rem(50) auto 0;
    text-align: center;
  }
}

.leftSlide {
  left: 0;
  top: 0;
  transform: translateX(-94%);
  &[data-visible="true"] {
    transform: translateX(0%);
  }
}

.bottomSlide {
  bottom: 0;
  right: 0;
  transform: translateY(96%);
  &[data-visible="true"] {
    transform: translateY(0%);
  }
}

.rightSlide {
  right: 0;
  top: 0;
  transform: translateX(94%);
  &[data-visible="true"] {
    transform: translateX(0%);
  }
}
